.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.movie {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  margin: 10px;
}

.movie:hover {
  cursor: pointer;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}
